@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  background-color: #001821;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url(./image/bg/background_elephant.jpg) center top no-repeat, url(./image/bg/background_man.jpg) center 1870px no-repeat;
  background-size: 100%;
}

.hero {
  margin-bottom: 238px;
}

.container {
  margin: 0 auto;
  width: 1140px;

}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 76px;
}

.logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
}

.menu {
  position: absolute;
  top: 36px;
  left: 163px;
  bottom:75px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #da0100;
}

.contacts {
  position: absolute;
  top: 32px;
  right: 0;
  font-style: normal;
  text-align: right;
}

.contacts__desc {
  font-size: 11px;
  color: #9a9a9a;
}

.contacts__phone {
  line-height: 1;
  display: block;
  font-size: 26px;
  text-decoration: none;
}

.contacts__dropdown-title {
  line-height: 1.2;
  font-size: 13px;
  text-decoration: underline;
  color: #98a4a8;
}


.hero__text-section {
  width: 528px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 24px;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 29px;
}

.link-long {
  font-size: 14px;
  display: inline-block;
  background: #f5170e;
  border-radius: 36px;
  padding: 16px 40px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.link-long:hover {
  background: #da0100;
}

.hot-trips {
  margin-bottom: 120px;
}

.title-container {
  margin-bottom: 46px;
}

.title-container__text {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: middle;
}

.title-container__icon {
  display: inline-block;
  padding-top: 10px;
  vertical-align: middle;
}

.trip {
  display: inline-block;
  vertical-align: top;
  width: 362px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.hot-trips__item {
  margin-right: 22px;
}

.hot-trips__item:last-child {
  margin-right: 0;
}

.trip__visual {
  margin-bottom: 23px;
}

.trip__content {
  color: black;
  padding: 0 16px 24px 22px;
}

.trip__heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}

.trip__option {
  margin-bottom: 20px;
  color: #666666;
}

.trip__view {
  display: inline-block;
  padding: 4px;
  margin-right: 22px;
}

.trip__view:last-child {
  margin-right: 0;
}

.trip__icon {
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
}

.trip__duration {
  display: inline-block;
  vertical-align: middle;
}

.trip__eat {
  display: inline-block;
  vertical-align: middle;
}

.trip__text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.link_short_white {
  display: block;
  font-size: 14px;
  color: #f5170e;
  display: inline-block;
  background: #fff;
  border: 1px solid #f5170e;
  border-radius: 36px;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.link_short_white:hover {
  background:  #da0100;
  color: #fff;
}

.link_short_red {
  font-size: 14px;
  display: inline-block;
  color: #fff;
  background: #f5170e;
  border-radius: 36px;
  padding: 16px 30px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.link_short_red:hover {
  background: #da0100;
}

.news {
  margin-bottom: 145px;
}

.news__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 46px;
}

.news__list {
  margin-bottom: 55px;
}

.knowledge {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.news__item {
  margin-right: 18px;
}

.news__item:last-child {
  margin-right: 0;
}

.knowledge__visual {
  overflow: hidden;
  border-radius: 5px;
}

.knowledge__pic {
  display: block;
}

.knowledge__content {
  position: absolute;
  vertical-align: top;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px 29px;
  min-height: 142px;
}

.knowledge__date {
  font-size: 14px;
}

.knowledge__heading {
  font-size: 24px;
  font-weight: bold;
  padding: 8px 0 0;
}

.paginator {
  text-align: center;
}

.paginator__text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}

.paginator__list {
  display: inline-block;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  line-height: 32px;
}

.paginator__item--active {
  color: #e5170e;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  text-decoration: none;
}

.paginator__link:hover {
  border-radius: 50%;
  background: #fff;
  color: #e5170e;
}



/*.preview__image {
  width: 490px;
  height: 505px;
  margin-right: -250px;
}

.preview__image-pic {
  border-radius: 5px;
}

.preview__box-photo {
  width: 785px;
  height: 455px;
  display: block;
  margin-top: -407px;
  border-radius: 5px;
}

.preview__content {
  display: inline-block;
  position: relative;
}

.preview__desc {
  position: absolute;
}*/

.preview-about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  width: 490px;
  height: 505px;
  background: url(./image/content/about/gates.jpg) center center / cover no-repeat;
  }

.preview-about__desc {
  width: 785px;
  border-radius: 5px;
  display: inline-block;
  background: url(./image/content/about/mountains.jpg) center center / cover no-repeat;
  margin-left: -141px;
  margin-top: 98px;
  padding: 62px 202px 64px 80px;
  color: black;
}

.preview-about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 34px;
}

.preview-about__desc-text {
  margin-bottom: 72px;
}

.preview-about__link {
  color: #fff;
}

.footer-style-home {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
  height: 140px; 
  position: relative;
  margin-top: 56px;
}

.footer-menu {
  position: absolute;
  top: 55px;
}

.footer-logo {
  position: absolute;
  top: 46px;
}

.socials {
  position: absolute;
  top: 50px;
  right: 258px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url(./image/icon/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(./image/icon/telegram_hover.png);
}
.socials__item--icon--vk .socials__link {
  background-image: url(./image/icon/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(./image/icon/vk_hover.png);
}
.socials__item--icon--facebook .socials__link {
  background-image: url(./image/icon/facebook.png);
}

.socials__item--icon--facebook .socials__link:hover {
  background-image: url(./image/icon/facebook_hover.png);
}
.socials__item--icon--inst .socials__link {
  background-image: url(./image/icon/inst.png);
}

.socials__item--icon--inst .socials__link:hover {
  background-image: url(./image/icon/inst_hover.png);
}

.footer-contacts {
  position: absolute;
  top: 45px;
}
.contacts__desc {
  margin-bottom: 4px;
}

