@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.68;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  background-color: #001821;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.hero {
  margin-bottom: 238px;
}

.container {
  margin: 0 auto;
  width: 1140px;

}

.header {
  height: 120px;
  position: relative;
  margin-bottom: 70px;
}

.logo {
  display: block;
  position: absolute;
  top: 21px;
  left: 0;
}

.menu {
  position: absolute;
  top: 28px;
  left: 163px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #da0100;
}

.contacts {
  position: absolute;
  top: 16px;
  right: 0;
  font-style: normal;
  text-align: right;
}

.contacts__desc {
  font-size: 11px;
  color: #9a9a9a;
}

.contacts__phone {
  display: inline-block;
  font-size: 26px;
  text-decoration: none;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #98a4a8;
}


.hero__text-section {
  width: 520px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 26px;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 28px;
}

.link-style_red {
  font-size: 14px;
  display: inline-block;
  background: #f5170e;
  border-radius: 36px;
  padding: 16px 40px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.link-style_red:hover {
  background: #da0100;
}

.hot-trips {
  margin-bottom: 120px;
}

.hot-trips__title {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 46px;
  margin-right: 10px;
}

.hot-trips__item {
  display: inline-block;
  vertical-align: top;
  width: 362px;
  min-height: 449px;
  background: #fff;
  margin-right: 22px;
  border-radius: 5px;
}

.hot-trips__item:last-child {
  margin-right: 0;
}

.trip__pic {
  min-height: 144px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 24px;
}

.trip__content {
  color: black;
  padding: 0 16px 24px 22px;
}

.trip__heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}

.trip__option {
  color: #666666;
}

.trip__view {
  display: inline-block;
  width: 120px;
  margin: 0 25px 0 4px;
}

.trip__view:last-child {
  margin-right: 0;
}

.trip__icon {
  display: inline-block;
  vertical-align: middle;
}

.trip__duration {
  display: inline-block;
  vertical-align: middle;
}

.trip__eat {
  display: inline-block;
  vertical-align: middle;
}

.trip__text {
  font-size: 14;
  line-height: 1.1;
}

.link_style_uncommon {
  font-size: 14px;
  color: #f5170e;
  display: inline-block;
  background: #fff;
  border: 1px solid #f5170e;
  border-radius: 36px;
  padding: 16px 40px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.link_style_uncommon:hover {
  background:  #da0100;
  color: #fff;
}

.news {
  margin-bottom: 145px;
}

.news__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 48px;
}

.news__list {
  margin-bottom: 44px;
}

.news__item {
  display: inline-block;
  position: relative;
  width: 555px;
  vertical-align: top;
  margin-right: 12px;
}

.knowledge__visual {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}

.knowledge__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 30px;
  min-height: 140px;
}

.knowledge__date {
  font-size: 14px;
}

.knowledge__heading {
  font-size: 24px;
  font-weight: bold;
}  

.paginator {
  text-align: center;
}

.paginator__text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}

.paginator__list {
  display: inline-block;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link {
  background: #fff;
  color: #e5170e;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  text-decoration: none;
  line-height: 32px;
}

.paginator__link:hover {
  color: #e5170e;
}



/*.preview__image {
  width: 490px;
  height: 505px;
  margin-right: -250px;
}

.preview__image-pic {
  border-radius: 5px;
}

.preview__box-photo {
  width: 785px;
  height: 455px;
  display: block;
  margin-top: -407px;
  border-radius: 5px;
}

.preview__content {
  display: inline-block;
  position: relative;
}

.preview__desc {
  position: absolute;
}*/

.about {
  margin-bottom: 80px;
}

.about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  width: 490px;
  height: 505px;
  background: url(./image/gates.jpg) center center / cover no-repeat;
  }

.about__desc {
  width: 785px;
  height: 455px;
  border-radius: 5px;
  display: inline-block;
  background: url(./image/mountains.jpg) center center / cover no-repeat;
  margin-left: -141px;
  margin-top: 98px;
  padding: 62px 202px 84px 80px;
  color: black;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 34px;
}

.about__desc-text {
  margin-bottom: 72px;
}

.preview__link {
  color: #fff;
}

.footer-container--content {
  border-top: 1px solid #fff;
  opacity: 0.1;
}

.footer {
  height: 92px;
  position: relative;
  margin-bottom: 0;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials {
  position: absolute;
  top: 25px;
  right: 258px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url(./image/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url(./image/telegram_hover.png);
}
.socials__item--icon--vk .socials__link {
  background-image: url(./image/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url(./image/vk_hover.png);
}
.socials__item--icon--facebook .socials__link {
  background-image: url(./image/facebook.png);
}

.socials__item--icon--facebook .socials__link:hover {
  background-image: url(./image/facebook_hover.png);
}
.socials__item--icon--inst .socials__link {
  background-image: url(./image/inst.png);
}

.socials__item--icon--inst .socials__link:hover {
  background-image: url(./image/inst_hover.png);
}